Data/100m_grid/100m_grid.csv
Data/100m_grid/Variable_description_grid_cell_land_use.xlsx
Data/HiDrive/Datenbeschreibung-Campus-v5.pdf
Data/HiDrive/cross_section/CampusFile_HK_2023.csv
Data/HiDrive/cross_section/CampusFile_HK_2023.dta
Data/HiDrive/cross_section/CampusFile_WK_2023.csv
Data/HiDrive/cross_section/CampusFile_WK_2023.dta
Data/HiDrive/cross_section/CampusFile_WM_2023.csv
Data/HiDrive/cross_section/CampusFile_WM_2023.dta
Data/HiDrive/cross_section/number_municipalities_cross.xlsx
Data/HiDrive/panel/CampusFile_HK_cities.csv
Data/HiDrive/panel/CampusFile_HK_cities.dta
Data/HiDrive/panel/CampusFile_WK_cities.csv
Data/HiDrive/panel/CampusFile_WK_cities.dta
Data/HiDrive/panel/CampusFile_WM_cities.csv
Data/HiDrive/panel/CampusFile_WM_cities.dta
Data/HiDrive/panel/number_observations_panel.xlsx
Data/municipal_main/municipal_main.csv
Data/municipal_main/Variable_description_municipal_land_use.xlsx
